html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    margin: 0 auto;
    background-image: url("../images/doodles.png");
    color: #777777;

}

body div.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.main-content {
    width: 960px;
    margin: 60px auto;
    padding: 60px;

}

.main-content .inside-content {
    border-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    padding: 15px;
    overflow: hidden;
}

.inside-content img {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

.main-content h1 {
    width: 100%;
    background: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: #4aaaa5;
    padding-bottom: 25px;
}

p {
    line-height: 1.8;
}

.header {
    width: 100%;
    position: fixed;
    background: #ffffff;
    padding-top: 10px;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    top: 0;
}

.inside-header {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}

.top-left {
    float: left;
    background-color: #4aaaa5;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.top-right {
    float: right;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1em;
}

.top-right a {
    color: grey;
}

.top-right a:link {
    text-decoration: none;
}

.top-right a:visited {
    text-decoration: none;
}

.top-right a {
    padding: 5px;
}

.top-right a.center-header {
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #777777;
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #777777;
}

.footer {
    width: 100%;
    margin: auto;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 10%;
    height: 50px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.push {
    height: 50px;
}

input,
textarea {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
}

input.submit {
    width: auto;
    padding: 10px 30px;
    margin: 8px 0;
    color: white;
    background-color: #4aaaa5;
}

.item {
    float: left;
    width: 290px;
    height: 290px;
    margin: 10px;
    background-repeat: no-repeat;

}

.item .spacer {
    height: 180px;
}

.item h2 {
    background-color: #4aaaa5;
    padding: 30px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    vertical-align: bottom;
    text-align: center;
}