<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animals}}
<li>{{animalType}}</li>
  <li>{{pet}}</li>
  <li>{{fierceness}}</li>
{{/each}}