html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    margin: 0 auto;
    background-image: url("../images/doodles.png");
    color: #777777;

}

body div.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

main {
    width: 960px;
    margin: 60px auto 60px;
    padding: 60px 60px 0px 60px;

}

main .inside-content {
    border-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    padding: 15px;
    overflow: hidden;
}

.inside-content img {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

main h1 {
    width: 100%;
    background: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: #4aaaa5;
    padding-bottom: 25px;
}

p {
    line-height: 1.8;
}

header {
    width: 100%;
    position: fixed;
    background: #ffffff;
    padding-top: 10px;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    top: 0;
    text-align: center;
}

.inside-header {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}

.top-left {
    float: left;
    background-color: #4aaaa5;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

nav {
    float: right;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1em;
}

nav a {
    color: grey;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a {
    padding: 5px;
}

nav a.center-header {
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #777777;
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #777777;
}

footer {
    width: 100%;
    margin: auto;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 10%;
    height: 50px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.push {
    height: 50px;
}

input,
textarea {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
}

input.submit {
    width: auto;
    padding: 10px 30px;
    margin: 8px 0;
    color: white;
    background-color: #4aaaa5;
}

.item {
    float: left;
    width: 290px;
    height: 290px;
    margin: 10px;
    background-repeat: no-repeat;

}

.item .spacer {
    height: 180px;
}

.item h2 {
    background-color: #4aaaa5;
    padding: 30px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    vertical-align: bottom;
    text-align: center;
}





@media screen and (max-width: 980px) {

    .inside-header {
        width: auto;
    }

    .top-left {
        margin-left: 60px;
    }

    nav {
        padding-right: 60px;
    }

    main .inside-content {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {

    .inside-header {
        width: auto;
    }

    .top-left {
        margin-left: 60px;
    }

    nav {
        padding-right: 30px;
    }

    main .inside-content {
        width: 610px;
    }
}

@media screen and (max-width: 640px) {
    .inside-header {
        width: auto;
    }

    main .inside-content {
        width: 420px;
    }
    .inside-content img {
        float: none;
        width: 100%;
    }
    
    .top-left {
        float: none;
        width: 100%;
        margin: 0;
        background-color: #4aaaa5;
        padding: 20px 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        display: inline-block;
        vertical-align: middle;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-weight: bold;
        font-size: 1.2em;
        color: white;
    }
    
    nav {
        float: none;
        padding: 20px;
        display: inline-block;
        vertical-align: middle;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size: 1em;
    }
    header{
        position: static;
        padding: 0;
    }
    main{
        width: 640px;
        margin: 0 auto;
        padding: 20px 20px 0 20px;
    }
}