* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  body {
    margin: 0;
  }

  section{
      width: 500px;
      left: 100px;
      position: relative;
      line-height: 150%;
  }

  .parent{
    text-align: center;
    font-size: 1.2em;
  }

  .div-fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
    padding: 20px 30px;
  }

  .div-absolute{
      position: absolute;
      background-color: #999;
      right: -20px;
      bottom: 0;
      padding: 20px 30px;
  }

  .div-relative{
      position: relative;
      background-color: lightgray;
      padding: 20px 125px 120px;
  }